attrs==21.4.0
Bottleneck
Brotli
certifi==2021.10.8
click
confi==0.0.4.1
dash
dash-bootstrap-components
dfsql==0.6.8
et-xmlfile==1.1.0
Flask
Flask-Compress
iniconfig==1.1.1
itsdangerous
Jinja2
MarkupSafe
mindsdb-sql==0.3.0
numexpr
numpy
openpyxl
packaging
pandas==1.4.1
plotly
pluggy==1.0.0
py==1.11.0
pyparsing
pytest==7.1.1
python-dateutil
pytz==2021.3
six
sly==0.4
SQLAlchemy==1.4.35
tenacity
tomli==2.0.1
Werkzeug
